/* 全域 */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Cactus+Classical+Serif&family=DM+Serif+Display:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding-top: 80px;
}

h1,
h2,
h3 {
    color: #292f36;
    font-family: "DM Serif Display", serif;
    letter-spacing: 1px;
    line-height: 1.2;
}

p {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
}

#Banner {
    padding: 66px 30px;
    width: 100%;
    height: 500px;
    background: url('../images/phone/Banner.png') no-repeat;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 150px;
    margin-bottom: 100px;
}

#Banner .container {
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

.hero-title {
    font-size: 2.375rem;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 15px;
}

.btn {
    background-color: #292f36;
    color: white;
    border-radius: 1.125rem;
    padding: 26px 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    letter-spacing: 1.25px;

}

.btn i {
    color: orange;
    margin-left: 5px;
    font-size: 1.25rem;
}

/* ======================
        costumer 
========================*/

#Customer .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
}

#Customer img {
    margin: auto;
    width: 51%;


}

/* =====================
      Testimonials
========================*/

#Testimonials h2 {
    /* font-size: 1.5rem; */
    text-align: center;
    /* line-height: 2rem; */
}

#Testimonials .container {
    background-color: #F4F0EC;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5rem 0rem;
    font-size: .875rem;

}

#Testimonials .name {
    font-size: 1.125rem;
}

#Testimonials .card-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-top: 2.5rem;
    width: 90%;

}

#Testimonials .card-content {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

}

#Testimonials img {
    width: 77px;
    height: 77PX;
    border-radius: 50px;
}

#Testimonials .picname {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5625rem;
    margin-bottom: 1.25rem;
}

#Testimonials p {
    text-align: center;
}

.name-lineheight {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

/* =====================
      Project
========================*/

.pro-article-item {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}

.pro-picframe {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.pro-article-item:nth-child(1) .pro-picframe {
    border-top-right-radius: 45px;
}

.pro-article-item:nth-child(2) .pro-picframe {
    border-top-left-radius: 45px;
}

.pro-article-item:nth-child(3) .pro-picframe {
    border-bottom-right-radius: 45px;
}

.pro-article-item:nth-child(4) .pro-picframe {
    border-bottom-left-radius: 45px;
}

.pro-link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======================
          NEWS
====================== */

.section-title {
    font-size: 1.5rem;
    font-family: "DM Serif Display", serif;
    padding-bottom: .75rem;
    letter-spacing: .075rem;
    text-align: center;
}

.sub-title {
    /* width: 46%; */
    margin: auto;
    font-size: 1.25rem;
    padding-bottom: 3.25rem;
    text-align: center;
}

/* card */
.article-list {
    /* display: flex;
    justify-content: space-between; */
}

.article-item {
    width: 100%;
    padding: 20px;
    border: 1px solid #E7E7E7;
    background-color: #ffffff;
    border-radius: 68px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
}

.picframe {
    position: relative;
    width: 100%;
    /* height: 270px; */
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    margin-bottom: 20px;
    overflow: hidden;


}

.pic {
    width: 100%;
}

.tag {
    position: absolute;
    background-color: #ffffff;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    left: 10px;
    bottom: 30px;
    padding: 10px;
}

.article-title {
    font-size: 1.25rem;
    color: #292F36;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "DM Serif Display", serif;
    margin-bottom: 2px;
}

.link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 1rem;
    color: #4D5053;
    letter-spacing: 1px;
    font-family: "DM Serif Display", serif;
}

.read {
    text-decoration: none;
    background-color: #F4F0EC;
    font-size: 1.2rem;
    color: #292F36;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

}



/* 平板 */
@media screen and (min-width: 481px) {

    .hero-title {
        font-size: 2.8rem;
        /* 介於手機(2.375rem)和電腦(3.5rem)之間 */
        line-height: 1.2;
    }

    .container {
        width: 90%;
    }

    .article-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .article-item {
        width: 48%;
    }

    .sub-title {
        width: 46%;

    }

    /* Banner */
    #Banner {
        height: 400px;
        background: url('../images/tablet/Banner.png') no-repeat;
        justify-content: flex-start;
        border-bottom-left-radius: 150px;
        background-position: right bottom;
        background-size: cover;

    }

    #Banner .container {
        background-color: transparent;
        width: 60%;
        margin: 5%;
    }

    /* Customer */
    #Customer .container {
        flex-wrap: nowrap;
    }

    #Customer img {
        margin: auto;
        width: 12.5%;
    }

    /* Testimonials */
    #Testimonials h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 3.5rem;
    }

    #Testimonials .card-list {
        flex-wrap: nowrap;
    }

    /* Project */
    .pro-article-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .pro-article-item {
        width: 48%;
    }
}

/* 電腦 */
@media screen and (min-width: 1366px) {

    .container {
        width: 80%;
    }

    .hero-title {
        font-size: 3.5rem;
    }

    .description {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 2.5rem;
    }

    .article-item {
        width: 32%;
    }

    .article-item:hover {
        background-color: #f6f6f6;
    }

    .read:hover {
        background-color: #ffffff;
    }

    /* Banner */
    #Banner {
        height: 800px;
        background: url('../images/Banner.jpg') no-repeat;
        background-size: 100% auto;
    }

    #Banner .container {
        width: 40%;
    }

    /* Customer */
    #Customer img {
        padding: 5px;
    }

    /* Testimonials */
    #Testimonials .picname {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5625rem;
        margin-bottom: 1.25rem;
    }

    #Testimonials .picname {
        text-align: start;
    }

    #Testimonials p {
        text-align: start;
    }


    #Testimonials h2 {
        font-size: 3rem;
        line-height: 5rem;
    }
}